body {
    font-family: 'Barlow Condensed', sans-serif;
    /* background: rgb(143,0,255);
background: linear-gradient(90deg, rgba(143,0,255,1) 0%, rgba(255,0,33,1) 100%);
color:#fff !important; */
}
header {
    max-width: 100%;
    
}
.main-header {
    padding: 20px 20px;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
}
.container {
    max-width: 100%;
    padding: 0px 20px;
    position: relative;
    height: 80vh;
}
section {
    position: absolute;
    top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
max-width: 1080px;
    text-align: center;

}
button#next {
    position: absolute;
    bottom: 0;
    font-family: 'Barlow Condensed', sans-serif;
    right: 0;
    font-weight: 500;
    font-size: 20px;
    padding: 11px 38px;
    text-transform: uppercase;
    border: 0;
    background-color: #000;
    color: #fff;
    transition: background-color .3s;
}
button#next:hover {

    background-color: #9C27B0;
    color: #fff;
    
}
#quiz-question {
    display: block;
    font-size: 30px;
    margin-bottom: 30px;
}
#quiz-choices {
    font-size: 18px;
}
.choiceText {
    display: inline-block;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 50px;
    margin: 20px;
    transition: background-color .3s;
}
.choiceText:hover {
    background-color: #ff5722;
    border: 1px solid #ff5722;
    color:#fff;
} 
.active{
    background-color: #ff5722;
    border: 1px solid #ff5722;
    color:#fff;
}
.hide{
    display:none;
}