body {
    font-family: 'Barlow Condensed', sans-serif;
    margin:0;
} 

div#contentWrapper {
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    max-width: 100%;
}
section#statement {
    font-size: 50px;
    background-color: rgba(4, 38, 161, 0.86);
    padding: 30px;
    border-radius: 29px;
    color: #fff;
    text-align: left;
}
header {
    max-width: 100%;
    
}
.main-header {
    padding: 20px 20px;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #fff;
}
.main-header  a{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-decoration: none;
    color: #fff;
    transition: opacity .3s;
}
.main-header  a:hover{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #fff;
    opacity:0.8;
}
.container {
    max-width: 100%;
    padding: 0px 20px;
    position: relative;
    height: 80vh;
}
#videoBG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
section {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    max-width: 1080px;
    margin:auto;
}
#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 82vh;
}
section#lost-screen, section#winner-screen {
    /* text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 92vh;
    max-width: 1500px;
}
.flex-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.win-content, .lose-content {
    max-width: 700px;
    width: 100%;
}
div#explanation {
    color: #fff;
    font-size: 30px;
    /* line-height: 1.5; */
    margin-bottom: 50px;
}
.questionText {
    max-width: 670px;
    text-align: center;
}
div#question3 {
    color: #fff;
}
button#startQuiz, button#restartGame {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 11px 38px;
    text-transform: uppercase;
    border: 0;
    background-color: #d61882;
    color: #fff;
    transition: background-color .3s;
}
button#startQuiz:hover, button#restartGame:hover {
    background-color: #dfdfdf;
    color: #d61882;
}
button#next {
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    bottom: 80;
    margin-top:30px;
    border-radius:31px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 11px 38px;
    text-transform: uppercase;
    border: 0;
    background-color: #000;
    color: #fff;
    transition: background-color .3s;
}
button#continue {
    border-radius:31px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 11px 38px;
    text-transform: uppercase;
    border: 0;
    background-color: #000;
    color: #fff;
    transition: background-color .3s;
}
button#next:hover, button#continue:hover {

    background-color: #d61882;
    color: #fff;
    
}
#quiz-question, div#quiz-question.question1.question2.question3.question4.question5 {
    display: block;
    font-size: 30px;
    margin-bottom: 30px;
    color:#000;
}
#quiz-choices {
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
div#quiz-question.question1.question2.question3.question4 {
    color: #fff;
}
.choiceText {
    display: flex;
    width: 40%;
    height: 35%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #000;
    background-color: transparent;
    border-radius: 50px;
    margin: 9px;
    color: #000;
    transition: background-color .3s;
}
.choiceText.choice1 {
    height: 16%;
}
.choiceText.choice2 {
    height: 18%;
    width: 30%;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}
.choiceText.choice3 {
    width: 37%;
    height: 36%;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
}
.choiceText.choice4 {
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    height: 16%;
}
.choiceText.choice5 {
    height: 20%;
    width: 30%;
}
.choiceText:hover {
    background-color: #d61882;
    border: 1px solid #d61882;
   
    color: #fff;
} 
.choiceText.choice2:hover, choiceText.choice4:hover {
    background-color: #d61882;
    border: 2px solid #d61882;
   
    color: #fff;
} 
.graphic {
    max-width: 300px;
    margin-right: 50px;
}
.graphic img {
    width: 100%;
    filter:invert(1)
}
#lost-screen .graphic img {
    width: 100%;
    filter:invert(0)
}
.item-header {
    color: #fff;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 20px;
}
.active , 
.choiceText.choice4.active, 
.choiceText.choice3.active{
    background-color: #831d56;
    border: 1px solid #831d56;
    color: #fff;
}
.choiceText.choice2.active {
    background-color: #831d56;
    border: 2px solid #831d56;
    color: #fff; 
}
.hide{
    display:none!important;
}
.transition-header {
    font-weight: 600;
    font-size: 60px;
}
section#transition {
    max-width: 1300px;
}
section#transition-screen {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
}
.transition-content > div {
    flex-basis: 100%;
}
div#transition-explanation {
    font-size: 30px;
    margin: 20px 0px 40px 0;
}
.transition-content {
    max-width: 600px;
    align-content: center;
    width: 100%;
    padding-left: 5%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* font-size: 50px; */
    /* height: 20%; */
}
.transition-graphic {
    max-width: 550px;
}
.transition-graphic img {
    width: 100%;
}
div#hint {
    padding: 10px;
    display: inline-block;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 25px;
    margin-bottom: 50px;
}
section#attempts {
    width: auto;
    position: absolute;
    right: 0;
    top: 15px;
    display: inline-block;
    padding: 15px;
    margin: 0 20px;
    border-radius: 36px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background: #03A9F4;
}
section#attempts img {
    max-width: 35px;
    margin-right: 12px;
}
section#attempts img:last-of-type {
    
    margin-right: 0;
}