body {
    font-family: 'Barlow Condensed', sans-serif;
    margin:0;
} 

div#contentWrapper {
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;
    max-width: 100%;
}
section#statement {
    font-size: 50px;
    background-color: rgba(63, 81, 181, 0.58);
    padding: 30px;
    border-radius: 29px;
    color: #fff;
    text-align: left;
}
header {
    max-width: 100%;
    
}
.main-header {
    padding: 20px 20px;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #fff;
}
.container {
    max-width: 100%;
    padding: 0px 20px;
    position: relative;
    height: 80vh;
}
section {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    max-width: 1080px;
    margin:auto;
}
.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 82vh;
}
section#lost-screen, section#winner-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
}
div#explanation {
    color:#fff;
    font-size: 19px;
    max-width: 600px;
    line-height: 1.5;
    margin-bottom: 50px;
}
.questionText {
    max-width: 670px;
    text-align: center;
}
button#startQuiz, button#restartGame {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 11px 38px;
    text-transform: uppercase;
    border: 0;
    background-color: #d61882;
    color: #fff;
    transition: background-color .3s;
}
button#startQuiz:hover, button#restartGame:hover {
    background-color: #dfdfdf;
    color: #d61882;
}
button#next {
    position: absolute;
    bottom: 0;
    font-family: 'Barlow Condensed', sans-serif;
    right: 0;
    font-weight: 500;
    font-size: 20px;
    padding: 11px 38px;
    text-transform: uppercase;
    border: 0;
    background-color: #000;
    color: #fff;
    transition: background-color .3s;
}
button#next:hover {

    background-color: #d61882;
    color: #fff;
    
}
#quiz-question, div#quiz-question.question1.question2.question3.question4.question5 {
    display: block;
    font-size: 30px;
    margin-bottom: 30px;
    color:#000;
}
#quiz-choices {
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
div#quiz-question.question1.question2.question3.question4 {
    color: #fff;
}
.choiceText {
    display: flex;
    width: 40%;
    height: 35%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #000;
    background-color: transparent;
    border-radius: 50px;
    margin: 9px;
    color: #000;
    transition: background-color .3s;
}
.choiceText.choice2 {
    height: 20%;
}

.choiceText.choice3 {
    width: 30%;
    height: 20%;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
}
.choiceText.choice4 {
    color: #0b0342;
    background-color: #fff;
    border: 1px solid #fff;
}
.choiceText.choice5 {
    height: 20%;
    width: 30%;
}
.choiceText:hover {
    background-color: #de6ea8;
    border: 1px solid #de6ea8;
   
    color: #fff;
} 
.graphic img {
    max-width: 200px;
    margin: 30px;
    filter:invert(1)
}
.item-header {
    color:#fff;
    font-size: 50px;
}
.active , .choiceText.choice4.active, .choiceText.choice3.active{
    background-color: #831d56;
    border: 1px solid #831d56;
    color: #fff;
}
.hide{
    display:none;
}
